# Django Configuration
SECRET_KEY=django-insecure-change-this-to-something-very-secure-in-production
DEBUG=True
ALLOWED_HOSTS=*

# Database Setup (Default: Sqlite, change to postgres schema for deployment)
# DATABASE_URL=postgres://user:password@host:port/dbname
